/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #78737385;
    text-align: center;
}

h1 {
    color: #333;
}

#TimedepanGidit,
#TimebelakangGidit,
.Time_titikdua {
    display: inline-block;
    font-size: 2em;
    color: #007BFF;
    font-weight: bold;
}

.Time_titikdua {
    margin: 0 0.5em; /* Adjust the space between the colons and the numbers */
}
